*/d2data.mpq
*/d2exp.mpq
*/d2sfx.mpq
*/d2speech.mpq
*/Patch_D2.mpq
*/D2Client.dll
*/D2CMP.dll
*/D2Common.dll
*/D2Game.dll
*/D2gfx.dll
*/D2Lang.dll
*/D2MCPClient.dll
*/D2Net.dll
*/D2sound.dll
*/D2Win.dll
*/Fog.dll
*/ijl11.dll
*/Storm.dll
